<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-main">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `element-main`
     * Otra main donde van los otros 2
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementMain extends Polymer.Element {
      static get is() { return 'element-main'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'element-main'
          }
        };
      }
    }

    window.customElements.define(ElementMain.is, ElementMain);
  </script>
</dom-module>
